body {
    background: black;
    color: white;
    text-align: center;
}

.contaienr {
    display: flex;
    justify-content: center;
    padding: 50px 0 0 0;
}

img {
    width: 30%;
    height: auto;
    flex-shrink: 1;
    margin: 20px;

    /* visibility: hidden; */
}

.fuji {
    /* opacity: 1; */
    /* visibility: hidden; */
}

.btns {
    display: grid;
    place-content: center;
    gap: 1rem;
    margin: 0 auto;
    text-align: center;
}

.btn {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    background: transparent;
    color: white;
    border: 1px solid white;
}

nav button {
    padding: .5rem 1rem;
    visibility: hidden;
}

button:hover {
    background: black;
    color: aliceblue;
}

h1 {
    /* visibility: hidden; */
}


* {
    position: relative;
}





.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkblue;
    border: 1vmin solid black;

}

.circle {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50%;

    /* visibility: hidden; */
    display: none;
}

.circle span {
    color: white;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 13vmin;
}

.bg {
    position: absolute;
    background: white;
    opacity: 0.3;
    will-change: transform;
}