body {
    background: black;
    color: white;
    text-align: center;
}

.contaienr {
    display: flex;
    justify-content: center;
    padding: 50px 0 0 0;
}

img {
    width: 30%;
    height: auto;
    flex-shrink: 1;
    margin: 20px;

    /* visibility: hidden; */
}

.fuji {
    /* opacity: 1; */
    /* visibility: hidden; */
}

.btns {
    display: grid;
    place-content: center;
    gap: 1rem;
    margin: 0 auto;
    text-align: center;
}

.btn {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    background: transparent;
    color: white;
    border: 1px solid white;
}

nav button {
    padding: .5rem 1rem;
}

button:hover {
    background: black;
    color: aliceblue;
}

h1,
p {
    /* visibility: hidden; */
}