.darkTheme {
    background: black;
    color: whitesmoke;
}

.lightTheme {
    background: whitesmoke;
    color: black;
}

ul {
    list-style: none;
    margin: 1rem;
    padding: 0;
}

li {
    margin: .75rem;

}