body {
    background: black;

    color: whitesmoke;
}

button {
    padding: .75rem;
    margin: 1rem;
    background: black;
    color: whitesmoke;
    border-radius: .5rem;
    /* outline: black; */
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.go {
    display: inline-block;
    min-width: 5rem;
    min-height: 5rem;
    background: plum;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    transition: all .5s ease-in-out;

}

.circle {
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

.danger {
    background: crimson;
}

.purple {
    background: purple;
}

.fadeOut {
    opacity: 0;
    transition: all .5s ease-in-out;
}

.out {
    padding: .5rem;
    margin: .25rem;
    background: crimson;

}

.in {
    background: #228B22;
    padding: .5rem;
    margin: .25rem;
}