*, *::before, *::after {
    box-sizing: border-box;

}

.darkTheme {
    background: black;
    color: whitesmoke;
}

.lightTheme {
    background: whitesmoke;
    color: black;
}

.links {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        box-sizing: border-box;
    margin: 1rem 0;
}

.links * {
    background: whitesmoke;
    margin: .5rem 0;
    padding: 1rem;
}

.links *:hover {
    color: whitesmoke;
    background: black;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: crimson;
}

.imageContainer {
    background: royalblue;
    text-align: center;
}

.demo {
    background: whitesmoke;
    color: black;
    text-align: center;
    padding: 1rem;
    margin: 0 0 1rem 0;
}

.success {
    background: teal;
    color: whitesmoke
}

.error {
    background: crimson;
    color: whitesmoke
}

.error-2 {
    background: rebeccapurple;
}

.parent {
    background: #313131;
    text-align: center;
    padding: 1rem;
}