*, *::before, *::after {
    box-sizing: border-box;
}
.darkTheme {
    background: black;
    color: whitesmoke;
}

.lightTheme {
    background: whitesmoke;
    color: black;
}

.box {
    max-width: 10rem;
    padding: 2rem;
    background: crimson;
}

p {
    color: blue;
}

#popup {
    display: block;
    margin: 20px auto;
    background: crimson;
    color: whitesmoke;
    /* border: 0; */
    padding: .5rem 1rem;
}

.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    color: black;
    position: relative;
}

.popup a {
    background: crimson;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
}

.popup p {
    color: black;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
    border: 2px solid white;
    border-radius: 3px;
    /* margin: .5rem 0; */
}

.card {
    text-align: center;
    border: 2px solid yellow;
    border-radius: 3px;
    margin: .5rem;
    padding: 1rem;
}

.card button {
    background: yellow;
    padding: .5rem;
    border-radius: .25rem;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
}

/*  */
/* 
    modal-outer
    modal-inner
*/

.modal-outer {
    display: grid;
    justify-content: center;
    align-items: center;

    text-align: center;
    background: hsla(50, 100%, 50%, .7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    opacity: 0;
    pointer-events: none; 
    
    transition: opacity .2s;
}

.modal-outer img{
    width: 100%;
}

.modal-outer.open {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.2s ;
}

.modal-inner {
    max-width: 600px;
    min-width: 400px;
    min-height: 200px;
    background: white;
    padding: 2rem;
    border-radius: 3px;
    transform: translateY(-200%);
    transition: transform 2s;
}

.modal-outer.open .modal-inner {
    transform: translateY(0);
}