.darkTheme {
    background: black;
    color: whitesmoke;
}

.lightTheme {
    background: whitesmoke;
    color: black;
}

.box {
    max-width: 10rem;
    padding: 2rem;
    background: crimson;
}

p {
    color: blue;
}