.darkTheme {
    background: black;
    color: whitesmoke;
}

.lightTheme {
    background: whitesmoke;
    color: black;
}

.box {
    max-width: 10rem;
    padding: 2rem;
    background: crimson;
}

p {
    color: blue;
}

#popup {
    display: block;
    margin: 20px auto;
    background: crimson;
    color: whitesmoke;
    /* border: 0; */
    padding: .5rem 1rem;
}

.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    color: black;
    position: relative;
}

.popup a {
    background: crimson;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
}

.popup p {
    color: black;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

